section {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 2rem;

  text-align: center;

  background-color: #ffffff;
  border-radius: 12px;
}

button {
  padding: 0.75rem 2rem;

  font: inherit;
  color: #ffffff;

  background: #230052;
  border: 1px solid #230052;
  border-radius: 20px;

  cursor: pointer;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}
